# Access Transformers for Tanuki Decor
# Format: <access modifier> <fully qualified class name> <field/method name> <method descriptor (for methods only)>

# Make DoublePlantBlock.preventCreativeDropFromBottomPart accessible
public net.minecraft.world.level.block.DoublePlantBlock m_53180_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/entity/player/Player;)V # preventCreativeDropFromBottomPart
